@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:root {
  --modal-bg-colour: rgba(0 0 0 / 20%);
  --modal-box-bg-colour: white;
  --modal-box-border-colour: grey;
  --modal-box-padding: 15px;
  --modal-ani-speed: 300ms;
  --focus-outline-colour: red;
  --example-text-colour: darkgrey;
  --space: 20px;
  --width: 480px;
  --height: 508px;
}

.example-text {
  color: var(--example-text-colour);
}

:focus {
  outline: 2px solid var(--focus-outline-colour);
}

.modal-dialog {
  background-color: var(--modal-bg-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-dialog__box {
  background-color: var(--modal-box-bg-colour);
  border: 1px solid var(--modal-box-border-colour);
  box-sizing: border-box;
  width: var(--width);
  padding: var(--space);
  margin: var(--space);
}

.modal-dialog[data-showing='true'] {
  animation: fade-in var(--modal-ani-speed);
}

.modal-dialog[data-showing='false'] {
  animation: fade-out var(--modal-ani-speed);
}

.modal-dialog__box[aria-busy='true'] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--height);
}

.modal-dialog__box[data-in-viewport='false'] {
  overflow-y: scroll;
  max-height: 100%;
}
