@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:root {
  --modal-bg-colour: rgba(0, 0, 0, 0.2);
  --modal-box-bg-colour: white;
  --modal-box-border-colour: grey;
  --modal-box-padding: 15px;
  --modal-ani-speed: 300ms;
  --focus-outline-colour: red;
  --example-text-colour: darkgrey;
}

.example-text {
  color: var(--example-text-colour);
}

:focus {
  outline: 2px solid var(--focus-outline-colour);
}

.modal-dialog {
  background-color: var(--modal-bg-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:focus {
    border: 2px solid var(--focus-outline-colour);
  }
}

.modal-dialog--showing {
  animation: fade-in var(--modal-ani-speed);
}

.modal-dialog--hiding {
  animation: fade-out var(--modal-ani-speed);
}

.modal-dialog--warning .modal-dialog__box {
  animation: pulse var(--modal-ani-speed);
}

.modal-dialog--exceeds-viewport .modal-dialog__box {
  overflow-y: scroll;
  max-height: 100%;
}

.modal-dialog__box {
  background-color: var(--modal-box-bg-colour);
  border: 1px solid var(--modal-box-border-colour);
  box-sizing: border-box;
  width: 480px;
}

.modal-dialog__header {
  padding: var(--modal-box-padding);
  border-bottom: 1px solid var(--modal-box-border-colour);
}

.modal-dialog__content {
  padding: var(--modal-box-padding);
  min-height: 250px;
}

.modal-dialog__footer {
  padding: var(--modal-box-padding);
  border-top: 1px solid var(--modal-box-border-colour);
}
