@keyframes warn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.test-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.modal-dialog--showing {
    animation: show 150ms;
  }

  &.modal-dialog--hiding {
    animation: hide 150ms;
  }

  &.modal-dialog--warning .modal-dialog__box {
    animation: warn 300ms;
  }
}

:root.has-modal .inside-the-application {
  filter: blur(4px);
  transition: filter 100ms;
}
