<div class="inside-the-application">
  <h1>
    @zestia/ember-modal-dialog
  </h1>

  <button type="button" {{on "click" this.openTestModal}}>
    Open
  </button>

  <br>
  <br>
</div>

<div class="outside-the-application">
  {{#if this.showTestModal}}
    <ModalDialog class="test-modal" @onClose={{this.closeTestModal}} as |modal|>
      <modal.Header>
        Header
      </modal.Header>

      <modal.Content>
        Content
      </modal.Content>

      <modal.Footer>
        Footer

        <button type="button" {{on "click" modal.close}}>
          Close
        </button>
      </modal.Footer>
    </ModalDialog>
  {{/if}}
</div>