<div class="inside-the-application">
  <h1>
    @zestia/ember-modal-dialog
  </h1>

  <button type="button" {{on "click" this.openTestModal}}>
    Open
  </button>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
vulputate velit. Vestibulum imperdiet, erat quis tristique suscipit, lorem enim
aliquet velit, sit amet maximus urna dui eu magna. Nunc ullamcorper nibh eu
pulvinar bibendum. Morbi fringilla diam id interdum cursus. Quisque bibendum
bibendum arcu quis lacinia. Quisque ante diam, sagittis at ante non, efficitur
auctor mauris. Nunc consectetur metus sit amet metus facilisis egestas. Donec
dapibus mollis mi non varius. Donec ac ligula ex. In tincidunt purus sapien, ut
finibus tellus pretium eu. Cras id est nec leo tincidunt tempus. Donec molestie
nunc quis dui dapibus, at laoreet nisl dictum. Praesent lacinia tempor leo in
rhoncus. Integer erat elit, sollicitudin nec dignissim id, porttitor at odio.
Nullam ultricies, enim eu euismod tempus, diam nibh cursus orci, id sodales
turpis mi quis ipsum. Proin tincidunt orci a justo pellentesque blandit.
  </p>

  <p>
    Sed semper laoreet fermentum. Nam sed massa in turpis elementum pulvinar sit
amet dignissim metus. Morbi dignissim sem purus, at vestibulum augue placerat
sed. Nullam mi sapien, finibus vitae sem ultricies, fermentum pellentesque
purus. Praesent iaculis leo a dui interdum suscipit. Praesent et auctor turpis,
ut tincidunt urna. Mauris eleifend tellus lacus, et facilisis ipsum semper
vitae. Mauris varius mi mauris. Integer varius ex a nunc luctus, sit amet
vulputate erat aliquam. Phasellus viverra ex a varius sagittis. Phasellus id
pharetra justo. Mauris placerat venenatis eros, et dignissim est scelerisque
in. Suspendisse convallis magna ut auctor placerat. Duis ex diam, interdum eget
leo eu, varius malesuada lectus.
  </p>

  <p>
    Nulla ut orci in mauris tincidunt mattis. Ut at consectetur urna, in dapibus
neque. Sed ut urna justo. Donec leo elit, pulvinar eu pharetra a, sodales eget
nisl. Donec bibendum consectetur fermentum. Nulla feugiat enim quam, rutrum
luctus mauris luctus dictum. Praesent vel dolor quis enim convallis accumsan.
Praesent tincidunt risus et massa convallis tristique. Pellentesque dignissim
iaculis leo quis porttitor. Maecenas semper lectus vitae dui scelerisque, quis
dapibus dolor egestas.
  </p>
</div>

<div class="outside-the-application">
  {{#if this.showTestModal}}
    <ModalDialog @onClose={{this.closeTestModal}} as |modal|>
      <modal.Header>
        Header
      </modal.Header>

      <modal.Content>
        Content
      </modal.Content>

      <modal.Footer>
        Footer

        <button type="button" {{on "click" modal.close}}>
          Close
        </button>
      </modal.Footer>
    </ModalDialog>
  {{/if}}
</div>